# Mongo Examples Part 2
### working with a larger data set

Sample Data from [United States Department of Transportation On-Time Performance](https://www.transtats.bts.gov/DL_SelectFields.asp?Table_ID=236&DB_Short_Name=On-Time)

Imported to Mongo using [MongoImport](https://docs.mongodb.com/manual/reference/program/mongoimport/)

> mongoimport -d flights -c flightstats --type csv --file 642648472_T_ONTIME.csv --headerline

In [1]:
use flights

switched to db flights

**Grab the first record (find all, limit to one) and make it look pretty**

**find() takes two parameters, query and projection**
+ query is like the where clause
+ projection is the fields to be returnd

**We start with both empty to get everything** _( find({},{}) = find({}) )_

In [2]:
db.flightstats.find({}).limit(1).pretty();

** We don't need all of those fields, just limit to the few care about **

In [3]:
db.flightstats.find(
    {},
    {
        "FL_DATE" : 1, "FL_NUM" : 1, "ORIGIN_CITY_NAME" : 1, 
        "DEST_CITY_NAME" : 1, "DEST_STATE_ABR" : 1, "DEST_STATE_NM" : 1, 
        "DEP_TIME" : 1, "ARR_TIME" : 1, "CANCELLED" : 1, 
        "DIVERTED" : 1, "ACTUAL_ELAPSED_TIME" : 1, "AIR_TIME" : 1
    }).limit(1).pretty();

{
	"_id" : ObjectId("59e9449672df5c7b88add6a1"),
	"FL_DATE" : "2017-06-05",
	"FL_NUM" : 4768,
	"ORIGIN_CITY_NAME" : "South Bend, IN",
	"DEST_CITY_NAME" : "Detroit, MI",
	"DEST_STATE_ABR" : "MI",
	"DEST_STATE_NM" : "Michigan",
	"DEP_TIME" : 1927,
	"ARR_TIME" : 2021,
	"CANCELLED" : 0,
	"DIVERTED" : 0,
	"ACTUAL_ELAPSED_TIME" : 54,
	"AIR_TIME" : 31
}

** Drop the _id by setting it to 0 **

In [4]:
db.flightstats.find(
    {},
    {_id : 0,
        "FL_DATE" : 1, "FL_NUM" : 1, "ORIGIN_CITY_NAME" : 1, 
        "DEST_CITY_NAME" : 1, "DEST_STATE_ABR" : 1, "DEST_STATE_NM" : 1, 
        "DEP_TIME" : 1, "ARR_TIME" : 1, "CANCELLED" : 1, 
        "DIVERTED" : 1, "ACTUAL_ELAPSED_TIME" : 1, "AIR_TIME" : 1
    }).limit(10).pretty();

{
	"FL_DATE" : "2017-06-05",
	"FL_NUM" : 4768,
	"ORIGIN_CITY_NAME" : "South Bend, IN",
	"DEST_CITY_NAME" : "Detroit, MI",
	"DEST_STATE_ABR" : "MI",
	"DEST_STATE_NM" : "Michigan",
	"DEP_TIME" : 1927,
	"ARR_TIME" : 2021,
	"CANCELLED" : 0,
	"DIVERTED" : 0,
	"ACTUAL_ELAPSED_TIME" : 54,
	"AIR_TIME" : 31
}
{
	"FL_DATE" : "2017-06-05",
	"FL_NUM" : 4769,
	"ORIGIN_CITY_NAME" : "La Crosse, WI",
	"DEST_CITY_NAME" : "Minneapolis, MN",
	"DEST_STATE_ABR" : "MN",
	"DEST_STATE_NM" : "Minnesota",
	"DEP_TIME" : 1122,
	"ARR_TIME" : 1214,
	"CANCELLED" : 0,
	"DIVERTED" : 0,
	"ACTUAL_ELAPSED_TIME" : 52,
	"AIR_TIME" : 31
}
{
	"FL_DATE" : "2017-06-05",
	"FL_NUM" : 4769,
	"ORIGIN_CITY_NAME" : "Minneapolis, MN",
	"DEST_CITY_NAME" : "La Crosse, WI",
	"DEST_STATE_ABR" : "WI",
	"DEST_STATE_NM" : "Wisconsin",
	"DEP_TIME" : 1000,
	"ARR_TIME" : 1101,
	"CANCELLED" : 0,
	"DIVERTED" : 0,
	"ACTUAL_ELAPSED_TIME" : 61,
	"AIR_TIME" : 26
}
{
	"FL_DATE" : "2017-06-05",
	"FL_NUM" : 4770,
	"ORIGIN_CITY_NAME" : "Des Moines, IA",
	"DEST_CITY_NAME" : "Salt Lake City, UT",
	"DEST_STATE_ABR" : "UT",
	"DEST_STATE_NM" : "Utah",
	"DEP_TIME" : 1739,
	"ARR_TIME" : 1910,
	"CANCELLED" : 0,
	"DIVERTED" : 0,
	"ACTUAL_ELAPSED_TIME" : 151,
	"AIR_TIME" : 133
}
{
	"FL_DATE" : "2017-06-05",
	"FL_NUM" : 4773,
	"ORIGIN_CITY_NAME" : "Pasco/Kennewick/Richland, WA",
	"DEST_CITY_NAME" : "Salt Lake City, UT",
	"DEST_STATE_ABR" : "UT",
	"DEST_STATE_NM" : "Utah",
	"DEP_TIME" : 1626,
	"ARR_TIME" : 1857,
	"CANCELLED" : 0,
	"DIVERTED" : 0,
	"ACTUAL_ELAPSED_TIME" : 91,
	"AIR_TIME" : 75
}
{
	"FL_DATE" : "2017-06-05",
	"FL_NUM" : 4773,
	"ORIGIN_CITY_NAME" : "Salt Lake City, UT",
	"DEST_CITY_NAME" : "Pasco/Kennewick/Richland, WA",
	"DEST_STATE_ABR" : "WA",
	"DEST_STATE_NM" : "Washington",
	"DEP_TIME" : 1520,
	"ARR_TIME" : 1553,
	"CANCELLED" : 0,
	"DIVERTED" : 0,
	"ACTUAL_ELAPSED_TIME" : 93,
	"AIR_TIME" : 73
}
{
	"FL_DATE" : "2017-06-05",
	"FL_NUM" : 4774,
	"ORIGIN_CITY_NAME" : "Pasco/Kennewick/Richland, WA",
	"DEST_CITY_NAME" : "Salt Lake City, UT",
	"DEST_STATE_ABR" : "UT",
	"DEST_STATE_NM" : "Utah",
	"DEP_TIME" : 1218,
	"ARR_TIME" : 1452,
	"CANCELLED" : 0,
	"DIVERTED" : 0,
	"ACTUAL_ELAPSED_TIME" : 94,
	"AIR_TIME" : 74
}
{
	"FL_DATE" : "2017-06-05",
	"FL_NUM" : 4774,
	"ORIGIN_CITY_NAME" : "Salt Lake City, UT",
	"DEST_CITY_NAME" : "Pasco/Kennewick/Richland, WA",
	"DEST_STATE_ABR" : "WA",
	"DEST_STATE_NM" : "Washington",
	"DEP_TIME" : 1102,
	"ARR_TIME" : 1141,
	"CANCELLED" : 0,
	"DIVERTED" : 0,
	"ACTUAL_ELAPSED_TIME" : 99,
	"AIR_TIME" : 73
}
{
	"FL_DATE" : "2017-06-05",
	"FL_NUM" : 4775,
	"ORIGIN_CITY_NAME" : "Kalispell, MT",
	"DEST_CITY_NAME" : "Salt Lake City, UT",
	"DEST_STATE_ABR" : "UT",
	"DEST_STATE_NM" : "Utah",
	"DEP_TIME" : 1746,
	"ARR_TIME" : 1925,
	"CANCELLED" : 0,
	"DIVERTED" : 0,
	"ACTUAL_ELAPSED_TIME" : 99,
	"AIR_TIME" : 83
}
{
	"FL_DATE" : "2017-06-05",
	"FL_NUM" : 4775,
	"ORIGIN_CITY_NAME" : "Salt Lake City, UT",
	"DEST_CITY_NAME" : "Kalispell, MT",
	"DEST_STATE_ABR" : "MT",
	"DEST_STATE_NM" : "Montana",
	"DEP_TIME" : 1514,
	"ARR_TIME" : 1657,
	"CANCELLED" : 0,
	"DIVERTED" : 0,
	"ACTUAL_ELAPSED_TIME" : 103,
	"AIR_TIME" : 76
}

** How many records in June **

In [5]:
db.flightstats.find(
    {
        "MONTH": {$eq: 6}
    }).count()

494266

** How many flights are recorded on the 15th of the month **
_ (note that a set of items are in \[ & \] ) _

In [6]:
db.flightstats.find(
    { 
        $and: [
            {"MONTH": {$eq: 6}}, 
            {"DAY_OF_MONTH": 
            {$eq: 15}}
        ]
    }).count()

17061

** How many were going to Ohio? **

In [7]:
db.flightstats.find(
    { 
        $and: [
            {"DEST_STATE_ABR": {$eq: "OH"}},
            {"MONTH": {$eq: 6}}, 
            {"DAY_OF_MONTH": {$eq: 15}}
        ]}
    ).count()

219

** How many of those were early? **

In [8]:
db.flightstats.find({ 
    $and: [
        {"DEST_STATE_ABR": {$eq: "OH"}},
        {"MONTH": {$eq: 6}}, 
        {"DAY_OF_MONTH": {$eq: 15}},
        {"ARR_DELAY": {$lt: 0}}
    ]}
).count()

95

** Now let's look at those records **

In [9]:
db.flightstats.find(
    { 
        $and: [
            {"DEST_STATE_ABR": {$eq: "OH"}},
            {"MONTH": {$eq: 6}}, 
            {"DAY_OF_MONTH": {$eq: 15}},
            {"ARR_DELAY": {$lt: 0}}
        ]}
    ).sort({"ARR_DELAY": 1}).forEach( function(theFlight)  { 
            print( "Flight " + theFlight.FL_NUM + ", on " + theFlight.FL_DATE + " from " +
                theFlight.ORIGIN_CITY_NAME + " to " + theFlight.DEST_CITY_NAME + " was " +
                (theFlight.ARR_DELAY * -1) + " minutes early"); 
    } )

Flight 1913, on 2017-06-15 from Los Angeles, CA to Cleveland, OH was 33 minutes early
Flight 3954, on 2017-06-15 from New York, NY to Cleveland, OH was 32 minutes early
Flight 122, on 2017-06-15 from Myrtle Beach, SC to Akron, OH was 26 minutes early
Flight 1422, on 2017-06-15 from Portland, OR to Cleveland, OH was 26 minutes early
Flight 365, on 2017-06-15 from Denver, CO to Cleveland, OH was 26 minutes early
Flight 5180, on 2017-06-15 from New York, NY to Cleveland, OH was 26 minutes early
Flight 5259, on 2017-06-15 from Minneapolis, MN to Cleveland, OH was 26 minutes early
Flight 578, on 2017-06-15 from New Orleans, LA to Cleveland, OH was 25 minutes early
Flight 5914, on 2017-06-15 from Chicago, IL to Dayton, OH was 24 minutes early
Flight 4336, on 2017-06-15 from Boston, MA to Cleveland, OH was 24 minutes early
Flight 1367, on 2017-06-15 from Atlanta, GA to Cleveland, OH was 23 minutes early
Flight 4904, on 2017-06-15 from Minneapolis, MN to Dayton, OH was 22 minutes early
Flight 4004, on 2017-06-15 from Washington, DC to Cleveland, OH was 22 minutes early
Flight 4136, on 2017-06-15 from Newark, NJ to Columbus, OH was 22 minutes early
Flight 4678, on 2017-06-15 from Minneapolis, MN to Dayton, OH was 21 minutes early
Flight 4831, on 2017-06-15 from Detroit, MI to Dayton, OH was 21 minutes early
Flight 1388, on 2017-06-15 from Fort Myers, FL to Cleveland, OH was 21 minutes early
Flight 1739, on 2017-06-15 from Orlando, FL to Cleveland, OH was 21 minutes early
Flight 1753, on 2017-06-15 from Newark, NJ to Cleveland, OH was 21 minutes early
Flight 4295, on 2017-06-15 from Houston, TX to Columbus, OH was 21 minutes early
Flight 5470, on 2017-06-15 from New York, NY to Cleveland, OH was 20 minutes early
Flight 4091, on 2017-06-15 from Newark, NJ to Akron, OH was 19 minutes early
Flight 5512, on 2017-06-15 from New York, NY to Cleveland, OH was 19 minutes early
Flight 2423, on 2017-06-15 from Minneapolis, MN to Cleveland, OH was 18 minutes early
Flight 334, on 2017-06-15 from Denver, CO to Columbus, OH was 18 minutes early
Flight 1064, on 2017-06-15 from Orlando, FL to Cleveland, OH was 17 minutes early
Flight 1112, on 2017-06-15 from Las Vegas, NV to Cleveland, OH was 17 minutes early
Flight 1276, on 2017-06-15 from Atlanta, GA to Columbus, OH was 17 minutes early
Flight 4158, on 2017-06-15 from Boston, MA to Cleveland, OH was 17 minutes early
Flight 2239, on 2017-06-15 from Dallas/Fort Worth, TX to Columbus, OH was 16 minutes early
Flight 1614, on 2017-06-15 from Orlando, FL to Cleveland, OH was 16 minutes early
Flight 1394, on 2017-06-15 from Tampa, FL to Cleveland, OH was 16 minutes early
Flight 441, on 2017-06-15 from Boston, MA to Cleveland, OH was 16 minutes early
Flight 988, on 2017-06-15 from Orlando, FL to Columbus, OH was 16 minutes early
Flight 360, on 2017-06-15 from Chicago, IL to Columbus, OH was 16 minutes early
Flight 1190, on 2017-06-15 from Atlanta, GA to Akron, OH was 15 minutes early
Flight 1474, on 2017-06-15 from Atlanta, GA to Cleveland, OH was 15 minutes early
Flight 4269, on 2017-06-15 from Washington, DC to Cleveland, OH was 15 minutes early
Flight 508, on 2017-06-15 from Los Angeles, CA to Columbus, OH was 14 minutes early
Flight 1158, on 2017-06-15 from Atlanta, GA to Cleveland, OH was 14 minutes early
Flight 568, on 2017-06-15 from Baltimore, MD to Cleveland, OH was 14 minutes early
Flight 702, on 2017-06-15 from Chicago, IL to Cleveland, OH was 13 minutes early
Flight 5595, on 2017-06-15 from Raleigh/Durham, NC to Cleveland, OH was 13 minutes early
Flight 1068, on 2017-06-15 from Las Vegas, NV to Cleveland, OH was 12 minutes early
Flight 1117, on 2017-06-15 from Fort Myers, FL to Cleveland, OH was 12 minutes early
Flight 1292, on 2017-06-15 from Atlanta, GA to Akron, OH was 12 minutes early
Flight 976, on 2017-06-15 from Chicago, IL to Cleveland, OH was 12 minutes early
Flight 948, on 2017-06-15 from Phoenix, AZ to Columbus, OH was 12 minutes early
Flight 386, on 2017-06-15 from Orlando, FL to Akron, OH was 11 minutes early
Flight 226, on 2017-06-15 from Denver, CO to Columbus, OH was 11 minutes early
Flight 1364, on 2017-06-15 from Minneapolis, MN to Cleveland, OH was 11 minutes early
Flight 672, on 2017-06-15 from Chicago, IL to Cleveland, OH was 11 minutes early
Flight 364, on 2017-06-15 from Tampa, FL to Columbus, OH was 11 minutes early
Flight 4474, on 2017-06-15 from Minneapolis, MN to Cleveland, OH was 10 minutes early
Flight 5942, on 2017-06-15 from Chicago, IL to Akron, OH was 10 minutes early
Flight 3815, on 2017-06-15 from Newark, NJ to Columbus, OH was 10 minutes early
Flight 2008, on 2017-06-15 from St. Louis, MO to Cleveland, OH was 10 minutes early
Flight 5602, on 2017-06-15 from Chicago, IL to Columbus, OH was 9 minutes early
Flight 1830, on 2017-06-15 from Charlotte, NC to Cleveland, OH was 9 minutes early
Flight 524, on 2017-06-15 from Denver, CO to Cleveland, OH was 9 minutes early
Flight 670, on 2017-06-15 from Minneapolis, MN to Columbus, OH was 9 minutes early
Flight 1786, on 2017-06-15 from Los Angeles, CA to Cleveland, OH was 9 minutes early
Flight 3967, on 2017-06-15 from Milwaukee, WI to Cleveland, OH was 9 minutes early
Flight 3263, on 2017-06-15 from Boston, MA to Columbus, OH was 9 minutes early
Flight 234, on 2017-06-15 from Myrtle Beach, SC to Cleveland, OH was 8 minutes early
Flight 1862, on 2017-06-15 from Phoenix, AZ to Cleveland, OH was 8 minutes early
Flight 1533, on 2017-06-15 from Chicago, IL to Cleveland, OH was 8 minutes early
Flight 644, on 2017-06-15 from Denver, CO to Cleveland, OH was 8 minutes early
Flight 5386, on 2017-06-15 from Chicago, IL to Dayton, OH was 7 minutes early
Flight 5420, on 2017-06-15 from Chicago, IL to Cleveland, OH was 7 minutes early
Flight 242, on 2017-06-15 from Atlanta, GA to Cleveland, OH was 7 minutes early
Flight 1695, on 2017-06-15 from Atlanta, GA to Columbus, OH was 7 minutes early
Flight 3977, on 2017-06-15 from Chicago, IL to Akron, OH was 7 minutes early
Flight 2042, on 2017-06-15 from Orlando, FL to Columbus, OH was 7 minutes early
Flight 1335, on 2017-06-15 from Chicago, IL to Columbus, OH was 7 minutes early
Flight 256, on 2017-06-15 from Phoenix, AZ to Cleveland, OH was 7 minutes early
Flight 910, on 2017-06-15 from Detroit, MI to Cleveland, OH was 6 minutes early
Flight 1170, on 2017-06-15 from Los Angeles, CA to Columbus, OH was 6 minutes early
Flight 5779, on 2017-06-15 from Chicago, IL to Akron, OH was 5 minutes early
Flight 4302, on 2017-06-15 from New York, NY to Cleveland, OH was 5 minutes early
Flight 159, on 2017-06-15 from Chicago, IL to Cleveland, OH was 5 minutes early
Flight 5697, on 2017-06-15 from Chicago, IL to Dayton, OH was 4 minutes early
Flight 1646, on 2017-06-15 from Atlanta, GA to Columbus, OH was 4 minutes early
Flight 3210, on 2017-06-15 from Boston, MA to Columbus, OH was 4 minutes early
Flight 4520, on 2017-06-15 from Detroit, MI to Columbus, OH was 3 minutes early
Flight 4951, on 2017-06-15 from Detroit, MI to Cleveland, OH was 3 minutes early
Flight 1193, on 2017-06-15 from Atlanta, GA to Columbus, OH was 3 minutes early
Flight 419, on 2017-06-15 from Atlanta, GA to Cleveland, OH was 3 minutes early
Flight 1897, on 2017-06-15 from Atlanta, GA to Columbus, OH was 2 minutes early
Flight 164, on 2017-06-15 from Washington, DC to Columbus, OH was 2 minutes early
Flight 1698, on 2017-06-15 from Denver, CO to Columbus, OH was 2 minutes early
Flight 4527, on 2017-06-15 from Detroit, MI to Columbus, OH was 1 minutes early
Flight 1521, on 2017-06-15 from Atlanta, GA to Dayton, OH was 1 minutes early
Flight 1990, on 2017-06-15 from Chicago, IL to Cleveland, OH was 1 minutes early
Flight 379, on 2017-06-15 from Nashville, TN to Cleveland, OH was 1 minutes early